* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(142, 60, 248);
    height: 55px;
}
.navbar-world{
    margin-left: auto;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.navbar-title{
    margin-right: auto ;
    margin-left: 10px;
    font-weight: bold;
    color: azure;
}
.entry{
    margin-left: auto;
    margin-right: auto ;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 600px;
    height: 322px;
    display: flex;
}
.entry-image{
    width: 187px;
    height: 250px;
    border-radius: 9px;
    margin-top: auto;
    margin-bottom: auto;
}
.entry-details{
    margin-left: 30px;
    margin-top: 25px;
}
.entry-header{
    display: flex;
    align-items: center;
    padding-right: 30%;
}
.entry-pinpoint{
    width: 8.5px;
    height: 12px;
}
.entry-location{
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-left: 10px;
}
.entry-MapsUrl{
    text-decoration-line: underline;
    text-decoration-color: gray ;
    color: gray ;
    margin-left: 30px;
}
.entry-title{
    font-weight: bold;
}
.entry-date{
    font-weight: bold;
    font-size: 16px;
}
.entry-details > p{
    font-size: 15px;
    font-weight: normal;
}