* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
}

.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    place-items: center;
    background-color: rgb(142, 60, 248);
}

.entry{
    width: 470px;
    height: 252px;
}
.entry-image{
    width: 125px;
    height: 168px;
}